body {
      font: 400 15px Arial, sans-serif;
      line-height: 1.8;
      color: #000000;
      background-color: #f6f6f6;
  }
  h1,h2 {
    font: bold 1.3em Arial, sans-serif;
    background-color:rgb(24, 0, 235); 
    color: rgb(218, 3, 3);
    padding: 100px 25px;
    text-align: center;  
    font-size-adjust: 0.5;  
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: .5em; 
    padding: 2em;
    text-transform:uppercase;
}
p::first-letter { font-size: 2em; }
p{
  text-align: left;  
  text-justify: inter-word;
}
ul,ol{
  font-size: 1.2em;
  background-color: #f6f6f6;
  color: #000000;
}
table {
  width: 100%;
  border: 1px solid #000;
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
}
