.body{
    display: grid;
    grid-template-columns: 1 fr 3fr;
    grid-template-areas: 
        "... header"
        "nav content";
        
}

.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.section{
    grid-area: content;
}

